
  
  <!--start intro section-->
    <section id="intro">
      <div id="carousel_intro" class="carousel slide fadeing">
        <div class="carousel-inner">
          <div class="active item" id="slide_1" data-start="background-position: center 0px;" data-1440="background-position: center -250px;">
            <h1 data-start="opacity:1; top: 45%;" data-250="opacity: 0; top: 10%;">Made with <i class="icon-heart"></i> and <i class="icon-coffee"></i> at awerest</h1>
          </div>
          <div class="inactive item" id="slide_2" data-start="background-position: center 0px;" data-1440="background-position: center -250px;">
            <h1 data-start="opacity:1; top: 45%;" data-250="opacity: 0; top: 10%;">Make easy <i class="icon-magic"></i> animation</h1>
          </div>
          <div class="inactive item" id="slide_3" data-start="background-position: center 0px;" data-1440="background-position: center -250px;">
            <h1 data-start="opacity:1; top: 45%;" data-250="opacity: 0; top: 10%;">Ready for <i class="icon-rocket"></i> when you are</h1>
          </div>
        </div>
      <button class="left carousel-control" href="#carousel_intro" data-slide="prev" data-start="opacity: 0.6; left: 0%;" data-250="opacity:0; left: 5%;"><i class="icon-chevron-left"></i></button>
      <button class="right carousel-control" href="#carousel_intro" data-slide="next" data-start="opacity: 0.6; right: 0%;" data-250="opacity:0; right: 5%;"><i class="icon-chevron-right"></i></button>
      </div>
      <div class="hidden-sm more">
        <a href="#services" class="btn btn-cool squared" data-start="opacity:1; margin-top: 0%;" data-150="opacity:0; margin-top: -10%;"><i class="icon-angle-down"></i> See more</a>
      </div>
    </section>
  <!--end intro section-->

  <!-- Start Lunches lIsting Section -->
  <section id="services">
  <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h1 class="text-center">Star of the Sea: September Menu</h1>
      <button class="text-left" ng-click="previousMonth"> Previous Month</button>
      <button class="text-right" ng-click="nextMonth"> Next Month</button>
<br>
<br>
<br>
  <div ng-controller="lunchesCtrl" ng-init="setup()">
  <div ng-repeat="lunch in lunches">
    <div class="col-lg-3 col-md-3" ng-class="{'selected':lunch.added}">
  
        <p> {{lunch.entree}}</p>
        <p> {{lunch.date}}</p>
        <p> {{lunch.month}}</p>
        <button ng-click="addLunch(lunch)">Add Lunch</button>
        <br>
        <br>
      
    </div>
  </div>

  <button ng-click="makeOrder()">Purchase Selected Items </button>


    
  </div>
  

</div>


      
      
    <!-- </section> --> 

  <!-- End Lunches Listing -->
  <!--start services section-->
  <!--   <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <i class="icon-tablet fancy" data-bottom-center="opacity: 0;" data-bottom-bottom="opacity: 1;"></i>
            <h3>Create An Account </h3>
            <h5><%= link_to "Sign Up", "/users/sign_up" %></h5>

            <p><small> 


               </small></p>
          </div>
          <div class="col-lg-3 col-sm-6">
            <i class="icon-cogs fancy" data-bottom-center="opacity: 0;" data--60-bottom-bottom="opacity: 1;"></i>
            <h3>Select Your Child's School & Month</h3>
            <h5></h5>
            <p><small></small></p>
          </div>
          <div class="col-lg-3 col-sm-6">
            <i class="icon-eye-open fancy" data-bottom-center="opacity: 0;" data--120-bottom-bottom="opacity: 1;"></i>
            <h3>Pick the Lunches you want</h3>
            <h5></h5>
            <p><small></small></p>
          </div>
          <div class="col-lg-3 col-sm-6">
            <i class="icon-ambulance fancy" data-bottom-center="opacity: 0;" data--180-bottom-bottom="opacity: 1;"></i>
            <h3>Order and Enjoy</h3>
            <h5></h5>
            <p><small></small></p>
          </div>
        </div>
      </div>
    </section> -->
  <!--end services section-->
  <!--start customers section-->
    <section id="customers">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <h3>  </h3>
            <a href="#" target="blank"><img class="img-responsive" src="http://www.sosschool.org/images/sos-logo-header.png" alt=""></a>
          </div>
          <div class="col-lg-3">
            <a href="#" target="blank"><img class="img-responsive" src="http://images.classmates.com/imgsvc/d?p=148494483" alt=""></a>
          </div>
          <div class="col-lg-3">
            <a href="#" target="blank"><img class="img-responsive" src="https://secure.surveymonkey.com/_resources/5523/35675523/e4d45c84-b494-4fd4-8f0a-7184a12101b0.jpg" alt=""></a>
          </div>
          <div class="col-lg-3">
            <a href="#" target="blank"><img class="img-responsive" src="http://www.bjornproductions.com/wp-content/themes/bjorn/files/logoportfolio/ZLS-logo-full.jpg" alt=""></a>
          <!-- </div>
          <div class="col-lg-2">
            <a href="#" target="blank"><img class="img-responsive" src="http://placehold.it/170x50" alt=""></a>
          </div>
          <div class="col-lg-2">
            <a href="#" target="blank"><img class="img-responsive" src="http://placehold.it/170x50" alt=""></a>
          </div> -->
        </div>
      </div>
    </section>
  <!--end customers section-->
  <!--start details section-->
    <section id="details">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <div class="row">
              <div class="col-lg-2 col-sm-2">
                <span class="icon-stack">
                  <i class="icon-circle icon-stack-base fancy"></i>
                  <i class="icon-file-text icon-light" data-bottom-center="font-size: 5em; opacity: 0;" data--200-bottom-bottom="font-size: 1.4em; opacity: 1;"></i>
                </span>
              </div>
              <div class="col-lg-10 col-sm-10">
                <h3>Well Documented</h3>
                <p><small>We have explained how to edit every element for your needs. All packed in one nice document that comes with download.</small></p>
              </div>
              <div class="col-lg-2 col-sm-2">
                <span class="icon-stack">
                  <i class="icon-circle icon-stack-base fancy"></i>
                  <i class="icon-code icon-light" data-bottom-center="font-size: 5em; opacity: 0;" data--200-bottom-bottom="font-size: 1.4em; opacity: 1;"></i>
                </span>
              </div>
              <div class="col-lg-10 col-sm-10">
                <h3>Commented</h3>
                <p><small>To help you when customizing Syndicate, HTML and CSS files are commented.</small></p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-4">
            <div class="row">
              <div class="col-lg-2 col-sm-2">
                <span class="icon-stack">
                  <i class="icon-circle icon-stack-base fancy"></i>
                  <i class="icon-comments icon-light" data-bottom-center="font-size: 5em; opacity: 0;" data--200-bottom-bottom="font-size: 1.4em; opacity: 1;"></i>
                </span>
              </div>
              <div class="col-lg-10 col-sm-10">
                <h3>Support via forum</h3>
                <p><small>We have forum for our buyers where you can report issues, find answers and get latest updates before we publish them on ThemeForest.</small></p>
              </div>
              <div class="col-lg-2 col-sm-2">
                <span class="icon-stack">
                  <i class="icon-circle icon-stack-base fancy"></i>
                  <i class="icon-envelope icon-light" data-bottom-center="font-size: 5em; opacity: 0;" data--200-bottom-bottom="font-size: 1.4em; opacity: 1;"></i>
                </span>
              </div>
              <div class="col-lg-10 col-sm-10">
                <h3>Support via email</h3>
                <p><small>If you have some pre-sale questions you can always contact us via form on our ThemeForest profile.</small></p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-4">
            <div class="row">
              <div class="col-lg-2 col-sm-2">
                <span class="icon-stack">
                  <i class="icon-circle icon-stack-base fancy"></i>
                  <i class="icon-html5 icon-light" data-bottom-center="font-size: 5em; opacity: 0;" data--200-bottom-bottom="font-size: 1.4em; opacity: 1;"></i>
                </span>
              </div>
              <div class="col-lg-10 col-sm-10">
                <h3>HTML5 & CSS3</h3>
                <p><small>Valid code, latest technologies, always up-to-date. Compatible with latest desktop and mobile browsers down to IE8.</small></p>
              </div>
              <div class="col-lg-2 col-sm-2">
                <span class="icon-stack">
                  <i class="icon-circle icon-stack-base fancy"></i>
                  <i class="icon-bug icon-light" data-bottom-center="font-size: 5em; opacity: 0;" data--200-bottom-bottom="font-size: 1.4em; opacity: 1;"></i>
                </span>
              </div>
              <div class="col-lg-10 col-sm-10">
                <h3>No Bugs</h3>
                <p><small>Syndicate is tested on different devices, browsers and operating systems. If you find one, the beer is on us.</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <!--end details section-->
  <!--start footer section-->
    
  <!--end footer section-->
  <!--start back to top button-->
    <a href="#intro" class="hidden-sm go-top" data-0="opacity: 0;" data-1000="opacity: 1;">Go Top</a>
  <!--end back to top button-->
  <!--start scripts - IMPORTANT: all scripts MUST be loaded after jquery-latest.js as now-->
  <!--latest jQuery-->
    
    <!--[if lt IE 9]>
      <script type="text/javascript" src="js/skrollr.ie.min.js"></script>
    <![endif]-->
  <!--tour-->
    
  <!--work / blog-->
    
  <!--menu close on select-->
    <script>
      if ($('.navbar-toggle:visible').length) {
        $('.navbar a').click(function () { $(".nav-collapse").collapse("hide") });
      }
    </script>
  <!--google analytics-->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'Your Google Analytics Code']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  <!--custom script-->
    
  <!--end scripts-->
  </body>
</html>