<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Syndicate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--Set the descritpion of you site-->
    <meta name="description" content="Syndicate - Multipage Bootstrap Multipurpose Template">
    <!--Set author of your site-->
    <meta name="author" content="Awerest - interactive agency">
    <!--Modernizr-->
    <!--Main Bootstrap styling-->
    <!--Custom styling-->
    <!--Iconic font - FontAwesome-->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <!--Google font-->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700'>
    <!--Site thumbnail-->
    <link rel="image_src" href="thumbnail.png">
    <!--Browser tab icon aka Favicon-->
    <link rel="icon" type="image/ico" href="favicon.ico">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body data-spy="scroll" data-target=".navbar" data-offset='61'>
    <div id="preloader">
      <div id="status">&nbsp;</div>
    </div>
  <!--start navigation-->
    <div class="navbar navbar-fixed-top">
      <div class="container" data-start="padding: 15px 0px;" data-200="padding: 0px 0px;">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="index.html" class="navbar-brand"><img class="img-responsive" src="http://placehold.it/166x40" alt=""></a>
        <div class="nav-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav pull-right">
            <li><a href="index.html">Home</a></li>
            <li><a href="features.html">Features</a></li>
            <li class="active"><a href="work.html">Work</a></li>
            <li><a href="team.html">Team</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  <!--end navigation-->
  <!--start second section-->
    <section id="second" class="content no-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-offset-2">
            <h1 class="text-center">Awesome portfolio</h1>
            <p class="text-center">We like onepage websites, but sometimes you just need more space to show to people what you do.
            So here it is, full screen modals to show any content that you like. Check it out by clicking on one of the items:</p>
          </div>
          <div class="col-lg-12">
            <div class="row">
              <ul class="grid">
  <!--start #1 gallery-->
                <li class="col-lg-4 col-sm-4">
                  <a href="#gallery_1" role="button" data-toggle="modal">
                    <figure>
                      <img class="img-responsive" src="http://placehold.it/728x560" alt="">
                      <figcaption>
                        <h4>Click Me</h4>
                        <span>July 23, 2013</span>
                      </figcaption>
                    </figure>
                  </a>
                </li>
  <!--start #2 gallery-->
                <li class="col-lg-4 col-sm-4">
                  <a href="#gallery_2" role="button" data-toggle="modal">
                    <figure>
                      <img class="img-responsive" src="http://placehold.it/728x560" alt="">
                      <figcaption>
                        <h4>Click Me</h4>
                        <span>July 22, 2013</span>
                      </figcaption>
                    </figure>
                  </a>
                </li>
  <!--start #3 gallery-->
                <li class="col-lg-4 col-sm-4">
                  <a href="#gallery_3" role="button" data-toggle="modal">
                    <figure>
                      <img class="img-responsive" src="http://placehold.it/728x560" alt="">
                      <figcaption>
                        <h4>Click Me</h4>
                        <span>July 21, 2013</span>
                      </figcaption>
                    </figure>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
  <!--new gallery items row-->
        <div class="row">
          <ul class="grid">
  <!--start #4 gallery-->
            <li class="col-lg-4 col-sm-4">
              <a href="#gallery_1" role="button" data-toggle="modal">
                <figure>
                  <img class="img-responsive" src="http://placehold.it/728x560" alt="">
                  <figcaption>
                    <h4>Click Me</h4>
                    <span>July 20, 2013</span>
                  </figcaption>
                </figure>
              </a>
            </li>
  <!--start #5 gallery-->
            <li class="col-lg-4 col-sm-4">
              <a href="#gallery_2" role="button" data-toggle="modal">
                <figure>
                  <img class="img-responsive" src="http://placehold.it/728x560" alt="">
                  <figcaption>
                    <h4>Click Me</h4>
                    <span>July 19, 2013</span>
                  </figcaption>
                </figure>
              </a>
            </li>
  <!--start #6 gallery-->
            <li class="col-lg-4 col-sm-4">
              <a href="#gallery_3" role="button" data-toggle="modal">
                <figure>
                  <img class="img-responsive" src="http://placehold.it/728x560" alt="">
                  <figcaption>
                    <h4>Click Me</h4>
                    <span>July 18, 2013</span>
                  </figcaption>
                </figure>
              </a>
            </li>
          </ul>
  <!--start #1 gallery modal-->
          <div id="gallery_1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gallery_1" aria-hidden="true">
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 margin">
                    <button type="button" class="previous" href="#gallery_3" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-left"></i></button>
                    <button type="button" class="back" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                    <button type="button" class="forward" href="#gallery_2" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-right"></i></button>
                  </div>
                  <div class="col-lg-12">
                    <div id="carousel_modal_1" class="carousel slide fadeing">
                      <div class="carousel-inner">
                        <div class="active item">
                          <img class="img-responsive" src="http://placehold.it/1140x450" alt="">
                        </div>
                        <div class="inactive item">
                          <img class="img-responsive" src="http://placehold.it/1140x450" alt="">
                        </div>
                      </div>
                      <button class="left carousel-control" href="#carousel_modal_1" data-slide="prev"><i class="icon-chevron-left"></i></button>
                      <button class="right carousel-control" href="#carousel_modal_1" data-slide="next"><i class="icon-chevron-right"></i></button>
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-6 margin">
                    <h1>Modal #1</h1>
                    <p class="lead">Don't forget that you can add anything in this modal! Don't be limited to our demo sample,
                    be creative :)<br><br>
                    <small>Modals are streamlined, but flexible, dialog prompts with the minimum required functionality 
                    and smart defaults.</small></p>
                  </div>
                  <div class="col-lg-6 col-sm-6 margin icons">
                    <div class="row">
                      <div class="col-lg-2 col-sm-2">
                        <i class="icon-comments"></i>
                      </div>
                      <div class="col-lg-10 col-sm-10">
                        <a href="#" class="btn btn-more btn-mini">More</a>
                        <h3>Description</h3>
                        <p><small>You could probably find few words to describe this project,
                        and few words to say something important.</small></p>
                      </div>
                      <div class="col-lg-2 col-sm-2">
                        <i class="icon-info-sign"></i>
                      </div>
                      <div class="col-lg-10 col-sm-10">
                        <a href="#" class="btn btn-more btn-mini">More</a>
                        <h3>Info</h3>
                        <p><small>Give more informations about this project to your visitors.
                        Add some links in buttons or just don't.</small></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-sm-12 margin">
                    <button type="button" class="previous" href="#gallery_3" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-left"></i></button>
                    <button type="button" class="back" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                    <button type="button" class="forward" href="#gallery_2" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-right"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
  <!--end #1 gallery modal-->
  <!--start #2 gallery modal-->
          <div id="gallery_2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gallery_2" aria-hidden="true">
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 margin">
                    <button type="button" class="previous" href="#gallery_1" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-left"></i></button>
                    <button type="button" class="back" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                    <button type="button" class="forward" href="#gallery_3" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-right"></i></button>
                  </div>
                  <div class="col-lg-12">
                    <div id="carousel_modal_2" class="carousel slide fadeing">
                      <div class="carousel-inner">
                        <div class="active item">
                          <img class="img-responsive" src="http://placehold.it/1140x450" alt="">
                        </div>
                        <div class="inactive item">
                          <img class="img-responsive" src="http://placehold.it/1140x450" alt="">
                        </div>
                      </div>
                      <button class="left carousel-control" href="#carousel_modal_2" data-slide="prev"><i class="icon-chevron-left"></i></button>
                      <button class="right carousel-control" href="#carousel_modal_2" data-slide="next"><i class="icon-chevron-right"></i></button>
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-6 margin">
                    <h1>Modal #2</h1>
                    <p class="lead">Don't forget that you can add anything in this modal! Don't be limited to our demo sample,
                    be creative :)<br><br>
                    <small>Modals are streamlined, but flexible, dialog prompts with the minimum required functionality 
                    and smart defaults.</small></p>
                  </div>
                  <div class="col-lg-6 col-sm-6 margin icons">
                    <div class="row">
                      <div class="col-lg-6 col-sm-6">
                        <i class="icon-comments"></i>
                        <h3>Description</h3>
                        <p><small>You could probably find few words to describe this project,
                        and few words to say something important.</small></p>
                      </div>
                      <div class="col-lg-6 col-sm-6">
                        <i class="icon-info-sign"></i>
                        <h3>Info</h3>
                        <p><small>Give more informations about this project to your visitors.
                        Add some links in buttons or just don't.</small></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-sm-12 margin">
                    <button type="button" class="previous" href="#gallery_1" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-left"></i></button>
                    <button type="button" class="back" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                    <button type="button" class="forward" href="#gallery_3" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-right"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
  <!--end #2 gallery modal-->
  <!--start #3 gallery modal-->
          <div id="gallery_3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gallery_3" aria-hidden="true">
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 margin">
                    <button type="button" class="previous" href="#gallery_2" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-left"></i></button>
                    <button type="button" class="back" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                    <button type="button" class="forward" href="#gallery_1" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-right"></i></button>
                  </div>
                  <div class="col-lg-12">
                    <div id="carousel_modal_3" class="carousel slide fadeing">
                      <div class="carousel-inner">
                        <div class="active item">
                          <img class="img-responsive" src="http://placehold.it/1140x450" alt="">
                        </div>
                        <div class="inactive item">
                          <img class="img-responsive" src="http://placehold.it/1140x450" alt="">
                        </div>
                      </div>
                      <button class="left carousel-control" href="#carousel_modal_3" data-slide="prev"><i class="icon-chevron-left"></i></button>
                      <button class="right carousel-control" href="#carousel_modal_3" data-slide="next"><i class="icon-chevron-right"></i></button>
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-6 margin">
                    <h1>Modal #3</h1>
                    <p class="lead">Don't forget that you can add anything in this modal! Don't be limited to our demo sample,
                    be creative :)<br><br>
                    <small>Modals are streamlined, but flexible, dialog prompts with the minimum required functionality 
                    and smart defaults.</small></p>
                  </div>
                  <div class="col-lg-6 col-sm-6 margin icons">
                    <div class="row">
                      <div class="col-lg-2 col-sm-2">
                        <i class="icon-comments"></i>
                      </div>
                      <div class="col-lg-10 col-sm-10">
                        <a href="#" class="btn btn-more btn-mini">More</a>
                        <h3>Description</h3>
                        <p><small>You could probably find few words to describe this project,
                        and few words to say something important.</small></p>
                      </div>
                      <div class="col-lg-2 col-sm-2">
                        <i class="icon-info-sign"></i>
                      </div>
                      <div class="col-lg-10 col-sm-10">
                        <a href="#" class="btn btn-more btn-mini">More</a>
                        <h3>Info</h3>
                        <p><small>Give more informations about this project to your visitors.
                        Add some links in buttons or just don't.</small></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-sm-12 margin">
                    <button type="button" class="previous" href="#gallery_2" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-left"></i></button>
                    <button type="button" class="back" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                    <button type="button" class="forward" href="#gallery_1" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-right"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
  <!--end #3 gallery modal-->
        </div>
      </div>
    </section>
  <!--end second section-->
  <!--start footer section-->
    <section id="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-6 margin copy">
            <p>2013 &copy; Awerest - interactive studio</p>
          </div>
          <div class="col-lg-4 col-sm-6 col-offset-2 margin social">
            <a class="facebook" href="http://www.facebook.com/awerest" target="_blank">Facebook</a> / 
            <a class="twitter" href="http://www.twitter.com/awerest" target="_blank">Twitter</a> / 
            <a class="google" href="https://plus.google.com/u/0/104533843132286032110/posts" target="_blank">Google+</a> / 
            <a class="instagram" href="http://www.instagram.com/awerest" target="_blank">Instagram</a>
          </div>
        </div>
      </div>
    </section>
  <!--end footer section-->
  <!--start back to top button-->
    <a href="#second" class="hidden-sm go-top" data-0="opacity: 0;" data-1000="opacity: 1;">Go Top</a>
  <!--end back to top button-->
  <!--start scripts - IMPORTANT: all scripts MUST be loaded after jquery-latest.js as now-->
  <!--latest jQuery-->
  <!--main bootstrap js-->
  <!--enable responsive features in IE8-->
  <!--[if lte IE 8]>
    <script src="js/respond.min.js"></script>
  <![endif]-->
  <!--retina support-->
  <!--smooth scroll on page-->
  <!--responsive embed videos-->
  <!--custom scrollbar-->
  <!--carousel swipe-->
  <!--animated elements-->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="js/skrollr.ie.min.js"></script>
    <![endif]-->
  <!--tour-->
  <!--work / blog-->
  <!--menu close on select-->
    <script>
      if ($('.navbar-toggle:visible').length) {
        $('.navbar a').click(function () { $(".nav-collapse").collapse("hide") });
      }
    </script>
  <!--google analytics-->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'Your Google Analytics Code']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  <!--custom script-->
  <!--end scripts-->
  </body>
</html>