// Place all the styles related to the lunches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lunch_box {
  border-style: solid;
  background-color: red;
  border-width: 5px;
}