* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 142px; 
}
.site-footer {
  background: orange;
}

.wood {
  background-image: url("theme/theme_img_1.jpg");
  margin: auto;
}

/*#image_1 {
  background-image: url("beef_stew.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

.selected {
  /*border: 5px solid orange !important ;*/
  border-style: outset;
  opacity: 0.4;
  
}

.header-lunches {
  padding-bottom: 100px;
}



.text-center {
  color: #4f74e3 !important;
  text-align: center;

}
 
.img-responsive {
  border-radius: 5%;
}

#style h1 {
  padding: 60px;
  margin: 10px;

}

#style h3 {
  color: #4f74e3;
  font-size: 21px;
  font-weight: 300;
  line-height: 1;
  margin-top: 20px 0;
  margin-left: 50px 0;
  margin-right: 50px 0; 
  padding: 60px 0px;
  text-align: center;
  -webkit-text-stroke: 0.03em #25272B;
}

#style h5, #details h5 {
  color: #bbbdc0;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

p {
  color: black !important;
  text-align: left;
  font-size: 20px;
  font-family: "Arimo";
}

.wood h3 {
  font-family: "Arimo";

}

.panel-body p {
  font-size: 20px;
  font-family: "Arimo";

}

.panel-heading h3 {
  /*color: white;*/
  /*background-color: maroon;*/
}

.lunch-height {
  height: 350px;
  /*border: 3px solid #4f74e3;*/
  /*padding: 50px;*/
  /*background-image: url("theme/theme_img_1.jpg");*/
  padding: 15px;
  /*margin: auto;*/
}

.jumbotron {
  margin: 30px;
  padding: 30px;
  min-height: 300px;
}

.jumbotron p {
  font-family: "Open Sans";
}

.menu {
  background-image: url("theme/theme_img_1.jpg");
  text-align: center;
  /*background-color: red;*/
  padding: 30px;
}

/*.print {
  background-image: url("theme/tablecloth.jpg");

  background-color: red;
  text-align: center;
  padding: 30px;
}*/

#footer {
  clear: both;
}

.border-form-div {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 30px auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}

.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

/*.animated zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}*/

@-webkit-keyframes zoomInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

@keyframes zoomInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

/*.modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 300px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -300px, 0);
    transform: translate3d(0, -300px, 0);
    opacity: 1;
}
.modal-header {
  font-family: "Bree Serif";
  background-color: #F6F5F5;
  border-radius: 5px;
}
.modal-body {
  font-size: 16px;
}
p {
  margin: 50px;
}
*/

.btn-custom {
  background-color: hsl(110, 56%, 16%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#398f28", endColorstr="#193f11");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#398f28), to(#193f11));
  background-image: -moz-linear-gradient(top, #398f28, #193f11);
  background-image: -ms-linear-gradient(top, #398f28, #193f11);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #398f28), color-stop(100%, #193f11));
  background-image: -webkit-linear-gradient(top, #398f28, #193f11);
  background-image: -o-linear-gradient(top, #398f28, #193f11);
  background-image: linear-gradient(#398f28, #193f11);
  border-color: #193f11 #193f11 hsl(110, 56%, 11%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
  margin: 20px;
  padding: 10px;
  font-size: 25px;
  text-align: center;

}