* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 142px; 
}
.site-footer {
  background: orange;
}

 
.thumbnail ul li {
  
}

.selected {
  border: 5px solid blue;
}




/*.thumbnail ul li {
  height: 30px;
  width: 55px;
}*/

/*#footer {
  background-color: #eeeff2;
  padding: 0 0 60px 0;
  border-top: 1px solid #e9ebed;
  width:100%;
  height:100px;
  position: absolute;
  bottom:0;
  left:0;
}*/